form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 1em;
}

form input {
  width: 100%;
  padding: 0.2em 0;
}

form p {
  font-size: 1.2em;
}

textarea {
  resize: none;
}

.form-btns {
  display: flex;
  gap: 0.5em;
}

.form-btns button {
  font-size: 0.9em;
  padding: 0.2em 0.4em;
}